// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'bootstrap';

#l2, #l3, #l4{
    display: none;
}

#m1, #s4 {
    display: none;
}

div.col-8.select{
    display: grid;
    padding: 0px;
}

#list{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

#classes{
    min-height: 50vh;
}

.schedule_form{
    margin-top: 20px;
}

input[type='text']{
    padding: 2px 12px;
}

#week_schedule{
    margin-top: 10px;
}

.table > :not(caption) > tr > td {
    padding-left: 0px;
    padding-right: 0.2rem;
}

td.number {
    text-align: center;
}

.week_day{
    background-color: #294a70;
    color: white;
    font-weight: bold;
}

body{
    scroll-behavior: smooth;
}