// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'bootstrap';

.header{
  background-color: #49688e;
  min-height: 35px;
}

.text{
  color: white;
  font-weight: bold;
  padding: 5px;
}

.text_adm{
  color: white;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  width: 55%;
  text-align: right;
  margin: 0px;
}

.main{
  height: 90vh;
  margin: 0px;
  max-width: none;
}

.image{
  margin: 10px;
}

#img{
  width: 110px;
  margin: 10px;
}

#school-info{
  margin-top: 25px;
}

#mobu{
  color: #294a70; 
  font-size: 28px; 
  font-weight: bold;
  margin-bottom: 0px;
}

#addr{
  color: #666666; 
  font-size: 14px;
  font-weight: 400; 
  letter-spacing: 1.4px; 
  margin-bottom: 0;
}

#table{
  height: 56vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@media (max-width: 1000px) {
  .large_display{
    display: none;
  }
}

.data{
  height: 11vh;
  text-align: center;
  color: #030773;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#digital-clock{
  font-size: 4.5vh;
}

#date{
  font-size: 3vh;
}

#message{
  margin-top: 1vh;
  min-height: 13vh;
}

// аналоговые часы
#analog-clock{
  height: 45vh;
  background-image: url(clock.png);
  background-size: 67%;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

#sec{
  height: 45vh;
  width: 4vh;
  background-image: url(sec.png);
  background-repeat: no-repeat;
  position: absolute;
  background-position-x: center;
  background-position-y: 0.175vh;
  background-size: 77.5%;
  left: 46.95%;
}

#min{
  height: 45vh;
  width: 4vh;
  background-image: url(min.png);
  background-repeat: no-repeat;
  position: absolute;
  background-position-y: 3vh;
  background-position-x: center;
  background-size: 80%;
  left: 47%;
}

#hour{
  height: 45vh;
  width: 4vh;
  background-image: url(hour.png);
  background-repeat: no-repeat;
  position: absolute;
  background-position-y: 8.75vh;
  background-position-x: center;
  background-size: 70%;
  left: 47%;
}